body {
  font-family: "Raleway", sans-serif;
  background-color: #1d1e26;
  color: #f7f7fa;
}

.main__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5vh 10vw;
}

/* Efectos animados de  la presentacion */
.descripcion {
  display: block;
  width: 40vw;
  font-size: 39px;
  color: #03a9f4;
  margin-bottom: 3hv;
  white-space: nowrap;
  border-right: 4px solid;
  animation: typing 2.5s steps(8), blink 0.2s infinite step-end alternate;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  58% {
    border-color: transparent;
  }
}

/* estislos para la foto de perfil en la section main */
.perfil {
  width: 25vw;
  border-radius: 50%;
  margin-left: 3vw;
  --m: radial-gradient(circle farthest-side at right, #000 99%, #0000) 0 100%/46%
      92% no-repeat,
    radial-gradient(circle farthest-side at left, #000 99%, #0000) 100% 0/46%
      92% no-repeat;
  -webkit-mask: var(--m);
  mask: var(--m);
  filter: grayscale(0.5);
  transition: 0.3s linear;
  cursor: pointer;
}

.perfil:hover {
  -webkit-mask-position: 7.5% 50%, 92.5% 50%;
  mask-position: 7.5% 50%, 92.5% 50%;
  filter: grayscale(0);
}

.sobre__mi {
  padding: 6vh 10vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #353641;
}

.titulo__sobre__mi {
  font-size: 32px;
  font-weight: bold;
}

.parrafos {
  margin: 2vh 0;
  padding-right: 40vw;
  font-size: 18px;
}

.formacion__container {
  padding: 10vh 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #353641;
}
.formacion {
  display: flex;
  justify-content: space-evenly;
}

.item__cursos {
  margin-right: 10px;
}

.formacion__img {
  width: 20vw;
  height: 30vh;
  background-color: #03a9f4;
  object-fit: contain;
}

.nombre__curso {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 0.5vh;
}

.contacto__container {
  padding: 15vh 10vw;
  background-color: #353641;
  display: flex;
  justify-content: start;
  align-items: center;
}

.telefono__img {
  width: 750px;
}

.telefono__container {
  display: flex;
  justify-content: start;
}

.form__container {
  margin-left: 1vw;
  display: flex;
  flex-direction: column;
}

.contacto__titulo {
  margin-bottom: 1vh;
  font-size: 40px;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
}

.nombre,
.email,
.asunto,
.mensaje {
  margin-top: 2vh;
  width: 40vw;
  height: 7vh;
  background-color: #1d1e26;
  border-radius: 5px;
  border-bottom: 1px solid hsla(0, 0%, 78%);
}

.mensaje {
  height: 30vh;
}

.enviar__msj {
  width: 133px;
  height: 40px;
  margin-top: 2vh;
  text-align: center;
  background-color: hsl(214, 77%, 52%);
  color: white;
  cursor: pointer;
}

.enviar__msj:hover {
  filter: brightness(105%);
}

input::placeholder {
  color: #c8c8c8;
  position: relative;
  bottom: 1vh;
  left: 0.5vw;
  font-size: 16px;
}

h6 {
  padding: 2vh 0;
  color: #464646;
  text-align: center;
}

.volverInicio {
  width: 3vw;
  position: fixed;
  right: 3vw;
  bottom: 5vh;
}

.volverInicio:hover {
  transform: scale(1.2);
  transition: 1s all;
}
